.panel {
	position: fixed;
	top: 20px;
	right: -400px;
	width: 100%;
	height: 670px;
	max-width: 400px;
	background: #ffffff;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
	border-radius: 1rem;
	border: 2px solid #cccccc;
	padding: 1rem;
	z-index: 1000;
	overflow-y: auto;
	transition: right 0.3s ease-in-out, background 0.3s ease, border 0.3s ease;
}

.dragOver {
	border: 2px dashed #2563eb;
	background-color: #f8fafc;
}

.panel.open {
	right: 0px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.close_button {
	background-color: transparent;
	border: none;
	font-size: 1.2rem;
	cursor: pointer;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.item {
	width: 100%;
}

.empty {
	text-align: center;
	color: #64758b;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_buttons {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.clear_button {
	background: #e73838;
	color: #ffffff;
	padding: 0.5rem 0.7rem;
	border-radius: 10px;
	cursor: pointer;
	font-size: 1rem;
	border: none;
	transition: all 0.3s ease;
}

.clear_button:hover {
	background: #d60808;
}
