.container {
	padding: 100px;
	background-color: #fafafa;
	color: #333333;
}

.about_intro {
	max-width: 800px;
	margin-bottom: 80px;
}

.about_title {
	font-size: 3.5rem;
	font-weight: 300;
	line-height: 1.2;
	margin-bottom: 24px;
	color: #111111;
}

.about_title_info {
	font-size: 1.25rem;
	line-height: 1.6;
	color: #666666;
}

.feature_list {
	display: flex;
	flex-direction: column;
	gap: 100px;
}

.item {
	display: flex;
	align-items: center;
	gap: 60px;
}

.reverse {
	flex-direction: row-reverse;
}

.image_placeholder {
	flex: 1;
	height: 400px;
	background-color: #eeeeee;
	border: 5px;
	overflow: hidden;
}

.image_text {
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	height: 100%;
	color: #000000;
}

.text {
	flex: 1;
	max-width: 450px;
}

.text h4 {
	font-size: 1.8rem;
	margin-bottom: 15px;
	font-weight: 500;
}

.text p {
	font-size: 1.1rem;
	line-height: 1.7;
	color: #555555;
}

@media (max-width: 900px) {
	.item,
	.reverse {
		flex-direction: column;
		align-items: flex-start;
		gap: 30px;
	}

	.image_placeholder {
		width: 100%;
		height: 300px;
	}

	.title {
		font-size: 2.5rem;
	}
}
