.categories_section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 60px auto;
	width: 100%;
	gap: 2.5rem;
}

.category_card {
	width: 200px;
	text-align: center;
	cursor: pointer;
	opacity: 0;
	transform: translateY(20px);
	animation: fadeInUp 0.5s ease forwards;
}

.category_card img {
	width: 100%;
	height: 125px;
	object-fit: cover;
	border-radius: 5px;
	transition: 0.3s ease;
}

.category_card img:hover {
	transform: scale(1.02);
}

.category_card p {
	margin-top: 10px;
	font-size: 1.5rem;
	color: #111111;
	font-weight: 500;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
