.contact_here {
	width: 210px;
	height: 50px;
	border: 2px solid #ffffff;
	border-radius: 15px;
	cursor: pointer;
	background: transparent;
	color: #ffffff;
	font-size: 1.2rem;
	font-weight: 600;
	transition: all 0.3s ease;
}

.contact_here:hover {
	color: #000000;
	background: #ffffff;
	transform: translateY(-5px);
}
