.property_card {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	background-color: #ffffff;
	width: 600px;
	max-width: 100%;
	overflow: visible;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.property_image {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.card_content {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
	box-sizing: border-box;
}

.badges {
	margin: 5px 0px 15px 0px;
	font-size: 0.9rem;
	color: #111111;
}

.badges_wrapper {
	display: flex;
	justify-content: space-between;
}

.tenure {
	background-color: #f1f1f1;
	padding: 2px 2px;
	border-radius: 4px;
}

.dateAdded {
	color: #888888;
	background-color: #f1f1f1;
	padding: 2px 3px;
	border-radius: 4px;
}

.description {
	flex-shrink: 0;
	font-size: 0.9rem;
	margin-bottom: 30px;
}

.card_details {
	display: flex;
	justify-content: space-between;
	font-weight: 600;
	margin-bottom: 20px;
}

.view_button {
	display: block;
	text-align: center;
	background-color: #0099ff;
	color: #ffffff;
	padding: 10px 0;
	border-radius: 10px;
	font-weight: 600;
	transition: background-color 0.3s ease;
}

.view_button:hover {
	background-color: #0a68a7;
}
