.search_container {
	width: 100%;
	margin: 0;
	padding: 0;
}

.search_bar {
	position: relative;
	width: 100%;
	height: 100vh;
	min-height: 100vh;
	overflow: hidden;
}

.search_video {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.search_overlay {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
	color: #ffffff;
	padding: 0 20px;
	z-index: 2;
}

.search_overlay h2 {
	margin: 30px 0;
	font-weight: 700;
	font-size: 3rem;
	text-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.search_overlay h3 {
	margin-bottom: 50px;
	font-weight: 500;
	font-size: 2rem;
	width: 70%;
	text-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.property_text {
	margin: 40px 0 0px 0;
	font-size: 1.25rem;
	text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	width: 100%;
	text-align: left;
}

span {
	color: #c78e13;
}

/* ! TYPE BUTTONS */
.search_types {
	display: flex;
	gap: 50px;
	margin-top: 20px;
}

.type_button {
	width: 15%;
	border: none;
	cursor: pointer;
	font-weight: 700;
	font-size: 1.25rem;
	background: #ffffff;
	color: #111111;
	transition: 0.3s ease;
	padding: 12px 0;
	border-radius: 5px;
}

.type_button:hover {
	transform: translateY(-3px);
	color: #ffffff;
	background: #0099ff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.type_button.active {
	background: #0099ff;
	color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 153, 255, 0.3);
}

.search_input_container {
	display: flex;
	gap: 15px;
	margin-top: 10px;
}

.search_input {
	width: 800px;
	padding: 15px 20px;
	border: 3px solid #dddddd;
	border-radius: 5px;
	font-size: 1rem;
	outline: none;
	transition: all 0.3s ease;
}

.search_input:focus {
	border-color: #0a68a7;
	box-shadow: 0 0 8px rgba(80, 70, 230, 0.2);
}

.search_button {
	padding: 10px 45px;
	background-color: #0099ff;
	color: #ffffff;
	font-size: 1.25rem;
	font-weight: 600;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	transition: 0.3s ease;
}

.search_button:hover {
	background-color: #0a68a7;
}

.categories_section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 60px auto;
	width: 100%;
	gap: 2.5rem;
}

.category_card {
	width: 200px;
	text-align: center;
	cursor: pointer;
}

.category_card img {
	width: 100%;
	height: 125px;
	object-fit: cover;
	border-radius: 5px;
	transition: 0.3s ease;
}

.category_card img:hover {
	transform: scale(1.02);
}

.category_card p {
	margin-top: 10px;
	font-size: 1.5rem;
	color: #111111;
	font-weight: 500;
}

@media (max-width: 900px) {
	.search_bar {
		min-height: 120vh;
	}

	.search_input {
		width: 400px;
	}

	.property_text {
		max-width: 400px;
	}
}

@media (max-width: 600px) {
	.search_input_container {
		flex-wrap: nowrap;
	}

	.search_input {
		width: 100%;
	}

	.search_button {
		padding: 12px 24px;
	}

	.property_text {
		font-size: 1rem;
		max-width: 230px;
	}

	.type_button {
		width: 50%;
	}
}
