.search_container {
	width: 100%;
	margin: 0;
	padding: 0;
}

.search_bar {
	position: relative;
	width: 100%;
	height: 90vh;
	overflow: hidden;
}

.search_video {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.search_overlay {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
	color: #ffffff;
	padding: 0 200px;
	z-index: 2;
}

.search_overlay h2 {
	margin: 30px 0;
	font-weight: 700;
	font-size: 3rem;
	text-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.search_overlay h3 {
	margin-bottom: 50px;
	font-weight: 500;
	font-size: 1.5rem;
	width: 80%;
	text-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.search_overlay h2 span {
	color: #c78e13;
}

.search_btn {
	display: flex;
	gap: 2rem;
}

@media (max-width: 900px) {
	.search_bar {
		min-height: 120vh;
	}

	.search_input {
		width: 400px;
	}

	.property_text {
		max-width: 400px;
	}
}

@media (max-width: 600px) {
	.search_input_container {
		flex-wrap: nowrap;
	}

	.search_input {
		width: 100%;
	}

	.search_button {
		padding: 12px 24px;
	}

	.property_text {
		font-size: 1rem;
		max-width: 230px;
	}

	.type_button {
		width: 50%;
	}
}
