.search_container {
	width: 100%;
	margin: 0;
	padding: 0;
}

.search {
	position: relative;
	width: 100%;
	height: 90vh;
	overflow: hidden;
}

.search_video {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.search_overlay {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
	color: #ffffff;
	padding: 0 200px;
	z-index: 2;
	animation: buttonLoad 0.6s ease-out forwards;
}

.search_overlay h2 {
	margin: 30px 0;
	font-weight: 700;
	font-size: 3rem;
	text-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.search_overlay h3 {
	margin-bottom: 50px;
	font-weight: 500;
	font-size: 1.5rem;
	width: 80%;
	text-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.search_overlay h2 span {
	color: #c78e13;
}

.search_button {
	display: flex;
	gap: 2rem;
}

/* ! TABLET */
@media (max-width: 900px) {
	.search_overlay {
		padding: 0 50px;
	}

	.search_overlay h2 {
		font-size: 2.5rem;
		margin: 20px 0;
	}

	.search_overlay h3 {
		font-size: 1.3rem;
		width: 90%;
		margin-bottom: 40px;
	}

	.search_input {
		width: 100%;
		max-width: 100px;
	}

	.property_text {
		max-width: 400px;
		font-size: 1.1rem;
	}

	.search_button {
		flex-wrap: wrap;
		gap: 1rem;
	}
}

/* ! MOBILE */
@media (max-width: 600px) {
	.search_overlay {
		padding: 0 10px;
		text-align: center;
	}

	.search_overlay h2 {
		font-size: 2rem;
		margin: 40px 0;
	}

	.search_overlay h3 {
		font-size: 1.1rem;
		width: 100%;
		margin-bottom: 40px;
	}

	.search_input {
		width: 100%;
	}

	.search_button {
		width: 100%;
		padding: 10px 20px;
		justify-content: center;
		gap: 20px;
	}
}

@keyframes buttonLoad {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
