/* ! SEARCH BUTTON */
.search_here {
	width: 210px;
	height: 50px;
	border: 2px solid #eeae5b;
	border-radius: 15px;
	cursor: pointer;
	background: #eeae5b;
	color: #ffffff;
	font-size: 1.2rem;
	font-weight: 600;
	transition: all 0.3s ease;
	margin-top: 10px;
	opacity: 0;
	transition: all 0.3s ease;
	animation: buttonLoad 0.5s ease-out forwards;
}

.search_here:hover {
	background: #ebb46d;
	border: 2px solid #ebb46d;
}

/* ! ANIMATIONS */
@keyframes buttonLoad {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
