.login-button {
	color: #000000;
	font-weight: 600;
	border: none;
	border-radius: 30px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 1.2rem;
	border: 2px solid #0099ff;
	transition: all 0.4s ease-in-out;
}

.login-button:hover {
	background-color: #0099ff;
}
