.navbar_outer {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #2b2b2b;
	padding: 0 100px;
	width: 100%;
	box-sizing: border-box;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.logo_img {
	height: 70px;
	width: auto;
	object-fit: contain;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 3rem;
}

.navbar a,
.mobile_menu a {
	position: relative;
	font-size: 1.2rem;
	color: #ffffff;
	font-weight: 600;
	text-decoration: none;
}

.navbar a::before,
.mobile_menu a::before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 0;
	height: 3px;
	background: #ffffff;
	transition: 0.3s;
}

.navbar a:hover::before,
.mobile_menu a:hover::before {
	width: 100%;
}

.no_underline::before {
	display: none;
}

.register_wrap {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.hamburger {
	display: none;
	position: relative;
}

.mobile_menu {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 70px;
	right: 0;
	background: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 10px;
	padding: 1rem 3rem;
	gap: 1rem;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	z-index: 10;
	opacity: 0;
	transform: translateY(-10px);
	pointer-events: none;
	transition: all 0.3s ease;
}

.hamburger .mobile_menu {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

@media (max-width: 1420px) {
	.navbar_outer {
		padding: 0 30px;
	}
}

@media (max-width: 900px) {
	.navbar_outer {
		padding: 0 20px;
		height: 70px;
	}

	.logo_img {
		height: 55px;
	}

	.navbar,
	.register_wrap {
		display: none;
	}

	.hamburger {
		display: flex;
	}
	.mobile_menu a {
		color: #000000;
	}

	.mobile_menu a::before {
		background: #000000;
	}

	.mobile_menu a:hover::before {
		background: #000000;
	}
}
