.header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.navbar_outer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #ffffff;
	padding: 0px 30px;
	width: 100%;
	box-sizing: border-box;
	border-bottom: 2px solid #2452de;
}

.logo_img {
	height: 70px;
	width: auto;
	object-fit: contain;
	vertical-align: center;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4rem;
	margin-left: 5rem;
}

.navbar a {
	position: relative;
	font-size: 1.2rem;
	color: #000000;
	font-weight: 600;
	text-decoration: none;
}

.navbar a::before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 0;
	height: 3px;
	background: #000000;
	transition: 0.3s;
}

.navbar a:hover::before {
	width: 100%;
}

.register_wrap a {
	margin: 10px;
	position: static;
	text-decoration: none;
}

.register_wrap a::before {
	display: none;
}

.nav_btn {
	display: none;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 2rem;
	color: #000000;
}

@media only screen and (max-width: 1024px) {
	.logo_img {
		height: 70px;
		max-width: 100%;
	}

	.nav_open_btn {
		display: flex;
		align-items: center;
	}

	.navbar {
		position: fixed;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		background: #ffffff;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		transition: transform 0.4s ease;
		transform: translateY(-100%);
		z-index: 1000;
	}

	.navbar.responsive_navbar {
		transform: translateY(0);
	}

	.navbar a {
		color: #000000;
		font-size: 2rem;
	}

	.nav_close_btn {
		display: block;
		position: absolute;
		top: 2rem;
		right: 2rem;
		color: #000000;
	}
}
