.header {
	position: relative;
	display: flex;
	justify-content: center;
	padding: 30px 0;
	width: 100%;
}

.navbar-outer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10rem;
	background: #ffffff;
	padding: 10px 30px;
	border-radius: 50px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.logo {
	font-size: 2rem;
	font-weight: 700;
	color: #000000;
	text-decoration: none;
}

.navbar {
	display: flex;
	gap: 5rem;
}

.navbar a {
	position: relative;
	font-size: 1.25rem;
	color: #000000;
	font-weight: 600;
	text-decoration: none;
	transition: color 0.3s ease;
}

.navbar a::before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 0;
	height: 3px;
	background: #000000;
	transition: 0.3s ease;
}

.navbar a:hover::before {
	width: 100%;
}
