header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 20px 10%;
	background-color: rgba(60, 59, 61, 0.6);
	border-bottom: 3px solid #6e4de6;
	z-index: 100;
}

.logo {
	font-size: 2rem;
	font-weight: 700;
	color: #ffffff;
}

.navbar a {
	position: relative;
	font-size: 1.25rem;
	color: #ffffff;
	font-weight: 600;
	margin-left: 50px;
}

.navbar a::before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 0;
	height: 2px;
	background: #ffffff;
	transition: 0.3s ease;
}

.navbar a:hover::before {
	width: 100%;
}
