header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 100px;
}

.logo {
	font-size: 2rem;
	font-weight: 700;
	color: #000000;
	text-decoration: none;
}

.navbar {
	display: flex;
	position: absolute;
	left: 50%;
	gap: 5rem;
	padding: 20px 40px;
	border-radius: 30px;
	background: rgba(255, 255, 255, 1);
	backdrop-filter: blur(10px);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	transform: translateX(-50%);
}

.navbar a {
	position: relative;
	font-size: 1.25rem;
	color: #000000;
	font-weight: 600;
	text-decoration: none;
	transition: color 0.3s ease;
}

.navbar a::before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 0;
	height: 3px;
	background: #000000;
	transition: 0.3s ease;
}

.navbar a:hover::before {
	width: 100%;
}
