.register_button {
	color: #ffffff;
	font-weight: 600;
	border: none;
	border-radius: 15px;
	padding: 8px 15px;
	cursor: pointer;
	font-size: 1.2rem;
	background-color: #fda531;
	background-image: linear-gradient(to right, transparent 0%, #941199 100%);
	transition: all 0.4s ease-in-out;
}

.register_button:hover {
	background-color: #941199;
}
