.register_button {
	color: #ffffff;
	font-weight: 600;
	border: none;
	border-radius: 30px;
	padding: 7px 15px;
	cursor: pointer;
	font-size: 1.2rem;
	background-color: #44ce52;
	background-image: linear-gradient(to right, transparent 0%, #0099ff 100%);
	transition: all 0.4s ease-in-out;
}

.register_button:hover {
	background-color: #0099ff;
}
