.register-button {
	background-color: #6e4de6;
	color: #ffffff;
	font-weight: 600;
	border: none;
	border-radius: 10px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 1.25rem;
	transition: background-color 0.3s ease;
}

.register-button:hover {
	background-color: #4a2eb3;
}
