.register-button {
	background-color: #8034c7;
	color: #ffffff;
	font-weight: 600;
	border: none;
	border-radius: 30px;
	padding: 15px 15px;
	cursor: pointer;
	font-size: 1.2rem;
	transition: background-color 0.4s ease, color 0.4s ease;
}

.register-button:hover {
	background-color: #571a8f;
}
