.register_button {
	color: #ffffff;
	background: #1049b3;
	font-weight: 600;
	border: none;
	border-radius: 15px;
	padding: 8px 15px;
	cursor: pointer;
	font-size: 1.2rem;
	transition: all 0.4s ease-in-out;
}

.register_button:hover {
	background-color: #132953;
}
