@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
}

body {
	background: url('./assets/photos/mountain.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 100vh;
}

a {
	text-decoration: none;
}
