@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Radio Canada', sans-serif;
}

body {
	background: #f0f0f0;
}

a {
	text-decoration: none;
}

.app_layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main_content {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.cards_container {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	gap: 30px;
	padding: 20px;
}
