@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Radio Canada', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	background: #e0e0e0;
}

a {
	text-decoration: none;
}

.app_layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main_content {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.cards_container {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	gap: 30px;
	padding: 20px;
}

.property_grid {
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	width: 100%;
	padding: 1rem 20px;
	box-sizing: border-box;
}

.saved_btn {
	text-align: center;
	margin-left: 1rem;
	height: 40px;
	padding: 0.5rem 1.5rem;
	border: none;
	border-radius: 10px;
	background: #eb2c25;
	color: #fff;
	font-weight: bold;
	font-size: 1rem;
	cursor: pointer;
	transition: all 0.3s ease;
}

.saved_btn:hover {
	background: #003ec4;
}

.property_not_found {
	text-align: center;
	font-size: 2rem;
}
