/* ! FOOTER */
.footer {
	background: #1a1a1a;
	color: #e5e7eb;
	padding-top: 2rem;
}

.main_content {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 2fr;
	gap: 3.5rem;
	padding: 4rem 2rem;
	max-width: 1200px;
	margin: auto;
}

.name h3 {
	font-size: 1.5rem;
	color: #fff;
}

.name p {
	margin: 1rem 0;
	color: #858585;
}

/* ! FOOTER LINKS AND ICONS */
.footer_socials {
	display: flex;
	gap: 0.75rem;
}

.footer_socials svg {
	width: 30px;
	height: 30px;
	vertical-align: middle;
	margin: 1rem 1rem 0 0rem;
	transition: all 0.3s ease;
}

.footer_socials .icon {
	color: #ffffff;
	transition: all 0.3s ease;
}

.footer_socials .icon_instagram:hover {
	cursor: pointer;
	transform: rotate(-10deg) scale(1.3);
	color: #c527e5;
}

.footer_socials .icon_twitter:hover {
	cursor: pointer;
	transform: rotate(-10deg) scale(1.3);
	color: #139dc7;
}

.footer_socials .icon_facebook:hover {
	cursor: pointer;
	transform: rotate(-10deg) scale(1.3);
	color: #1352c7;
}

.footer_socials .icon_youtube:hover {
	cursor: pointer;
	transform: rotate(-10deg) scale(1.3);
	color: #e52d27;
}

.footer_links h4,
.footer_newsletter h4 {
	margin-bottom: 1rem;
	color: #fff;
}

.footer_links a {
	display: block;
	color: #858585;
	text-decoration: none;
	margin-bottom: 0.5rem;
	transition: all 0.3s ease;
}

.footer_links a:hover {
	color: #ffffff;
}

/* ! NEWSLETTER */
.footer_newsletter p {
	color: #858585;
	margin-bottom: 1rem;
}

.footer_newsletter form {
	display: flex;
	gap: 0.5rem;
}

.footer_newsletter input {
	flex: 1;
	padding: 0.6rem;
	border-radius: 6px;
	border: 2px solid #cccccc;
	outline: none;
}

.footer_newsletter input:focus {
	border: 2px solid;
	border-color: #eeae5b;
	box-shadow: 0 0 10px rgba(125, 125, 255, 0.3);
}

.footer_newsletter button {
	padding: 0.6rem 1rem;
	border-radius: 6px;
	border: none;
	background: #eba346;
	color: #000000;
	font-weight: 600;
	cursor: pointer;
	transition: all 0.3s ease;
}

.footer_newsletter button:hover {
	background: #ebb46d;
}

/* ! LINKS AT THE BOTTOM */
.bottom_content {
	display: flex;
	justify-content: space-between;
	padding: 1.5rem 2rem;
	max-width: 1200px;
	margin: auto;
	font-size: 1rem;
	color: #858585;
	border-top: 2px solid rgba(255, 255, 255, 0.08);
}

.bottom_content a {
	margin-left: 1rem;
	color: #858585;
	text-decoration: none;
	transition: all 0.3s ease;
}

.bottom_content a:hover {
	color: #ffffff;
}

/* ! RESPONSIVENESS */
@media (max-width: 900px) {
	.main_content {
		grid-template-columns: 1fr;
		text-align: center;
	}

	.footer_socials {
		justify-content: center;
	}

	.bottom_content {
		flex-direction: column;
		gap: 0.75rem;
		text-align: center;
	}
}
