/* ! LOGIN CONTAINER & FORM */
.login_container {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #e0e0e0;
	width: 100%;
	margin: 130px 0 60px;
}

.login_form {
	background: #ffffff;
	padding: 40px 40px;
	border-radius: 20px;
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
	width: 100%;
	max-width: 500px;
}

/* ! HEADER & LOGO */
.login_header {
	text-align: center;
	padding-bottom: 1rem;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 1.5rem;
}

.login_logo {
	max-width: 150px;
}

.login_form h2 {
	text-align: center;
	margin-bottom: 2.5rem;
	font-size: 1.5rem;
}

/* ! INPUT LABEL POP-UP */
.input_group {
	position: relative;
	margin-bottom: 2.5rem;
}

.input_group input {
	width: 100%;
	padding: 12px;
	font-size: 1.1rem;
	border: 1px solid #cccccc;
	border-radius: 10px;
	background: transparent;
	outline: none;
	box-sizing: border-box;
	transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input_group input:focus {
	border-color: #007bff;
	box-shadow: 0 0 10px rgba(0, 125, 255, 0.3);
}

.input_group label {
	position: absolute;
	top: 50%;
	left: 10px;
	color: #888888;
	background: #ffffff;
	padding: 0px 10px;
	pointer-events: none;
	transform: translateY(-50%);
	transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.input_group input:focus + label,
.input_group input:not(:placeholder-shown) + label {
	top: -2px;
	font-size: 1rem;
	color: #007bff;
}

/* ! LOGIN BUTTON */
.login_form button {
	width: 100%;
	padding: 1rem;
	margin-top: 1rem;
	background: #007bff;
	color: #ffffff;
	font-size: 1.2rem;
	font-weight: bold;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.login_form button:hover {
	background-color: #0056b3;
}

/* ! SUCCESS AND ERROR MESSAGES*/
.login_form .success_message {
	margin-top: 1.5rem;
	color: #28a745;
	font-weight: bold;
	text-align: center;
}

.login_form .error {
	position: absolute;
	top: 100%;
	left: 0;
	margin-top: 0.25rem;
	font-size: 0.9rem;
	color: #ff4d4f;
}

/* ! RESPONSIVE */
@media (max-width: 768px) {
	.login_container {
		padding: 20px;
	}

	.login_form {
		width: 100%;
		padding: 30px;
		margin: 0 10px;
	}

	.login_form h2 {
		font-size: 1.5rem;
	}
}
